@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

// Colors
$Soft-blue: hsl(215, 51%, 70%);
$Cyan: hsl(178, 100%, 50%);
$Very-dark-blue-card-BG: hsl(216, 50%, 16%);
$Shadow: hsl(220, 60%, 3%);
$Very-dark-blue-main-BG: hsl(217, 54%, 11%);
$Very-dark-blue-line: hsl(215, 32%, 27%);
$White: hsl(0, 0%, 100%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    font-size: 1.8rem;
    background-color: $Very-dark-blue-main-BG;
}

a {
    text-decoration: none;
    color: $White;
    cursor: unset;
}