*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: hsl(0, 0%, 95%);
    min-height: 100vh;
    display: flex;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
}

.wrapper{
    display: flex;
    max-width: 978px;
    margin: auto;
}

/* cards el. */
img{
    margin-bottom: 2rem;
}
h2{
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    color: hsl(0, 0%, 95%);
    text-transform: uppercase;
    font-size: 3rem;
    margin-bottom: 2rem;
}
p{
    color: hsla(0, 0%, 100%, 0.75);
    margin-bottom: 4.5rem;
    line-height: 1.7rem;
    max-height:135px;
}

.btn{
    padding: 15px 35px;
    border-radius: 2rem;
    border: 2px solid hsl(0, 0%, 95%);
    font-size: 1rem;
    background-color: hsl(0, 0%, 95%);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    transition: color 0.5s, background 0.5s ;
    
}
.btn:hover{
    cursor: pointer;
}
.btn-first{
    color: hsl(31, 77%, 52%);
}
.btn-first:hover{
    color: hsl(0, 0%, 95%);
    background-color: hsl(31, 77%, 52%);
}
.btn-second{
    color: hsl(184, 100%, 22%);
}
.btn-second:hover{
    color: hsl(0, 0%, 95%);
    background-color: hsl(184, 100%, 22%);
}
.btn-third{
    color: hsl(179, 100%, 13%);
}
.btn-third:hover{
    color: hsl(0, 0%, 95%);
    background-color: hsl(179, 100%, 13%);
}
/* cards */
.card{ 
padding: 3rem;
}
.first-card{
    background-color:  hsl(31, 77%, 52%);
    border-radius: 10px 0 0px 10px;
}
.second-card{
    background-color: hsl(184, 100%, 22%);
}
.third-card{
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 10px 10px 0 ;
}

/* media queries */
@media (max-width: 900px){
    .wrapper{
        /* flex-direction: column; */
        flex-wrap: wrap;
        margin: 5rem 2rem;
    }
    .first-card{
        border-radius: 10px 10px 0px 0px;
    }
    .third-card{
        border-radius: 0px 0px 10px 10px ;
    }
}