@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Lexend+Deca:wght@400&display=swap');

/* === base === */
:root {
    /* === colors === */
    /* == primary == */
    --text-color: hsl(243, 90%, 12%);
    --button-bg: hsl(224, 94%, 58%);
    --cta-background: hsl(238, 22%, 44%);
    --footer-background: hsl(243, 87%, 12%);

    /* == neutral == */
    --White: hsl(0, 0%, 100%);
    --Slightly-transparent-white-paragraph: hsla(0, 0%, 100%, 0.75);
    --Slightly-transparent-white-headings: hsla(0, 0%, 100%, 0.6);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.5rem;
    font-family: 'Inter', sans-serif;
    text-align: center;
}

input::placeholder {
    opacity: .5;
}

/* === nav === */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem;
}

.nav__logo {
    height: 2.5rem;
}

.nav__list {
    list-style: none;
    display: flex;
}

.nav__list-item:not(:last-of-type) {
    margin-right: 2rem;
}

.nav__link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.3rem;
}

/* === main === */

/* ==  header == */
.header {
    padding: 3rem;
    margin-bottom: 6rem;
}

.header__image {
    width: 100%;
}

.header__title {
    margin: 4rem 0 3rem;
    color: var(--text-color);
    font-size: 2.4rem;
    line-height: 1.5;
}

.header__description {
    color: var(--text-color);
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 3rem;
}

.header__form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.header-form__input {
    padding: 1.2rem 2.2rem;
    width: 100%;
    border: 1px solid hsl(243, 90%, 12%);
    border-radius: 4px;
}

.header-form__button {
    width: 100%;
    background-color: var(--button-bg);
    color: var(--White);
    font-weight: 700;
    padding: 1.2rem;
    border-radius: 4px;
    border: none;
    box-shadow: 5px 5px 10px -3px rgba(0, 0, 0, .3);
}

/* == example == */
.example {
    background: url(images/bg-curve-mobile.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 9rem 2rem 5rem;
}

.example__image {
    width: 100%;
}

.example__title {
    font-size: 1.6rem;
    margin: 7rem 0 2.5rem;
    color: var(--text-color);
}

.example__description {
    text-align: left;
    color: var(--text-color);
    font-size: 1.4rem;
    line-height: 1.5;
}

.example__description:first-of-type {
    margin-bottom: 2rem;
}

.example__link {
    display: inline-block;
    color: rgb(94, 179, 175);
    font-weight: 500;
    font-size: 1.3rem;
    margin: 3rem 0 2rem;
    text-decoration: none;
    padding-bottom: .6rem;
    border-bottom: 1px solid rgb(94, 179, 175);
}

.testimonial {
    background-color: var(--White);
    margin: 2.2rem;
    padding: 2rem 1rem 2rem 2.5rem;
    border-radius: 5px;
    text-align: left;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.testimonial__text {
    font-size: 1.1rem;
    line-height: 1.8;
    font-weight: 500;
    letter-spacing: .1px;
    color: var(--text-color);
}

.testimonial__info {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1.5rem;
    color: var(--text-color);
}

.testimonial__info-img {
    border-radius: 50%;
    width: 2.8rem;
}

.testimonial__info-text {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    color: var();
}

.testimonial__info-text h5 {
    font-size: 1rem;
}

.testimonial__info-text p {
    font-size: .8rem;
    font-weight: 500;
}

/* == cta == */

.cta {
    background-color: var(--cta-background);
    padding: 6rem 3.5rem;
}

.cta__title {
    color: var(--White);
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.cta__description {
    color: var(--Slightly-transparent-white-paragraph);
    margin-bottom: 2.5rem;
    line-height: 1.5;
    font-size: 1.4rem;
}

.cta__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 2.5rem;
}

.cta-form__input {
    padding: 1rem;
    width: 100%;
    border: none;
    border-radius: 2px;
}

.cta-form__button {
    background-color: var(--button-bg);
    width: 100%;
    padding: 1rem;
    color: var(--White);
    font-weight: 700;
    font-size: 1.2rem;
    border: none;
    border-radius: 2px;
    box-shadow: 3px 3px 5px -3px rgba(0, 0, 0, .3);
}

/* === footer === */
.footer {
    text-align: initial;
    background-color: #07043B;
    padding: 6rem 4rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.footer__content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.footer__text {
    color: var(--Slightly-transparent-white-paragraph);
}

.contact__row {
    display: flex;
    gap: 2rem;
}

.contact__row:first-of-type {
    margin-bottom: 2rem;
}

.footer__links {
    list-style: none;
}

.footer__links-item:not(:last-of-type) {
    margin-bottom: 1.5rem;

}

.footer__link {
    text-decoration: none;
}

.footer__socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
}