@use 'config'as *;

// container
.container {
    display: flex;
    flex-direction: column;
    max-width: 327px;
    background-color: $Article-Bg;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 10px 10px 20px lighten($color: $Grayish-Blue, $amount: 20);

    @media (min-width: $brk) {
        flex-direction: row;
        max-width: 730px;
        overflow: visible;
    }
}

// image
.image-wrapper {
    height: 20rem;
    display: flex;

    img {
        width: 100%;
        object-position: 50% 25%;
        object-fit: cover;
    }

    @media (min-width: $brk) {
        height: auto;
        width: 39.5%;
        overflow: hidden;
        border-radius: 1rem 0 0 1rem;

        img {
            height: 100%;
            object-position: left;
        }
    }
}

// content
.content-wrapper {
    padding: 3.6rem 3.2rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 3.1rem;
    position: relative;

    @media (min-width: $brk) {
        padding: 3.2rem 4rem;
        gap: 2rem;
        width: 60.5%;
    }
}

.content__text {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    h1 {
        font-size: 1.65rem;
        color: $Very-Dark-Grayish-Blue;
        line-height: 1.5;
    }

    p {
        color: $Desaturated-Dark-Blue;
        line-height: 1.5;
        letter-spacing: .012rem;
    }

    @media (min-width: $brk) {
        h1 {
            line-height: 1.4;
            font-size: 2.1rem;
        }
    }

}

.content__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .footer__author-image {
        border-radius: 50%;
        width: 4rem;
    }

    .footer__info {
        margin-left: -4.5rem;
        line-height: 1.5;

        h2 {
            font-size: 1.3rem;
            color: $Very-Dark-Grayish-Blue;
        }

        p {
            color: $Grayish-Blue;
        }

        @media (min-width: $brk) {
            margin-left: -14.5rem;
        }
    }


    .share-button__wrapper {
        @media (min-width: $brk) {
            position: relative;
        }
    }

    .footer__share-button {
        justify-self: flex-end;
        width: 3.2rem;
        height: 3.2rem;
        border-radius: 50%;
        background-color: $Light-Grayish-Blue;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: .3s;
        position: relative;
        z-index: 2;

        &:hover {
            background-color: $Desaturated-Dark-Blue;

            path {
                fill: #fff;
            }
        }

        &.active {
            background-color: $Desaturated-Dark-Blue;
            transform: translateY(1rem);

            path {
                fill: #fff;
            }

            @media (min-width: $brk) {
                transform: none;
            }
        }
    }

    .share {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $Very-Dark-Grayish-Blue;
        padding: 2rem 3.2rem;
        display: flex;
        align-items: center;
        gap: 1.4rem;
        transition: .3s;
        transform: translateY(100%);
        visibility: hidden;

        p {
            color: $Grayish-Blue;
            text-transform: uppercase;
            letter-spacing: .5em;
        }

        .share__social {
            display: flex;
        }

        .share__social:hover {
            transform: scale(1.1);
        }

        &.active {
            visibility: visible;
            transform: translateY(0);
        }

        @media (min-width: $brk) {
            padding: 1.6rem 3.2rem;
            left: 50%;
            right: initial;
            bottom: 200%;
            border-radius: 1rem;
            transform: translateX(-50%);
            opacity: 0;
            box-shadow: 0 10px 10px lighten($color: $Grayish-Blue, $amount: 25);

            &::after {
                content: '';
                width: 20px;
                height: 20px;
                position: absolute;
                right: 50%;
                transform: translate(50%, 40%) rotate(45deg);
                bottom: 0;
                background-color: $Very-Dark-Grayish-Blue;
            }

            &.active {
                opacity: 1;
                transform: translateX(-50%);
            }
        }
    }
}